#bad {
  font-size: 50px;
}

img {
  max-width: 500px;
}

#feelingLucky {
  margin-top: 25px;
  margin-bottom: 25px;
}

.submit {
  display: block;
  margin-top: 5px;
}

.formthing {
  display: block;
  margin-top: 5px;
}

@media and all (min-width: 800px){
  .formthing {
    display: inline-block;
  }
}